<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyc.city.message.dao.MessageMapper">
    <resultMap id="BaseResultMap" type="com.lyc.city.bean.Message">
        <id column="message_id" jdbcType="INTEGER" property="messageId"/>
        <result column="message_name" jdbcType="VARCHAR" property="messageName"/>
        <result column="message_description" jdbcType="VARCHAR" property="messageDescription"/>
        <result column="coordinate_id" jdbcType="INTEGER" property="coordinateId"/>
        <result column="position_id" jdbcType="INTEGER" property="positionId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="result" jdbcType="VARCHAR" property="result"/>
        <result column="creator" jdbcType="VARCHAR" property="creator"/>
        <result column="image_url" jdbcType="VARCHAR" property="imageUrl"/>
        <collection property="coordinate" ofType="com.lyc.city.bean.Coordinate">
            <id column="coordinate_id" property="coordinateId"/>
            <result column="latitude" jdbcType="VARCHAR" property="latitude"/>
            <result column="longitude" jdbcType="VARCHAR" property="longitude"/>
        </collection>
        <collection property="province" ofType="com.lyc.city.bean.Province">
            <id column="province_id" property="provinceId"/>
            <result column="province" jdbcType="VARCHAR" property="province"/>
        </collection>
        <collection property="city" ofType="com.lyc.city.bean.City">
            <id column="city_id" property="cityId"/>
            <result column="city" jdbcType="VARCHAR" property="city"/>
            <result column="province_id" jdbcType="INTEGER" property="provinceId"/>
        </collection>
        <collection property="district" ofType="com.lyc.city.bean.District">
            <id column="district_id" property="districtId"/>
            <result column="district" jdbcType="VARCHAR" property="district"/>
            <result column="city_id" jdbcType="INTEGER" property="cityId"/>
        </collection>
    </resultMap>
    <sql id="Base_Column_List">
        message_id, message_name, message_description, coordinate_id, position_id, create_time,
        result, creator, image_url
    </sql>

    <insert id="insertMessage" parameterType="com.lyc.city.bean.Message">
        insert into city_message (message_id, message_name, message_description,
          coordinate_id, position_id, create_time,
          result, creator, image_url
          )
        values (#{messageId,jdbcType=INTEGER}, #{messageName,jdbcType=VARCHAR}, #{messageDescription,jdbcType=VARCHAR},
          #{coordinateId,jdbcType=INTEGER}, #{positionId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP},
          #{result,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, #{imageUrl,jdbcType=VARCHAR}
          )
    </insert>

    <select id="selectAllMessage" resultMap="BaseResultMap">
        select
            city_message.*,city_coordinate.latitude,city_coordinate.longitude,city_province.province,
            city_city.city,city_district.district,city_position.*
        from city_message
        inner join city_position
            on (city_message.position_id = city_position.position_id)
        inner join city_coordinate
            on (city_message.coordinate_id = city_coordinate.coordinate_id)
        inner join city_province
            on (city_position.province_id = city_province.province_id)
        inner join city_city
            on (city_position.city_id = city_city.city_id)
        inner join city_district
            on (city_position.district_id = city_district.district_id)
    </select>

    <select id="selectDangerMessage" resultMap="BaseResultMap">
        select
            city_message.*,city_coordinate.latitude,city_coordinate.longitude,city_province.province,
            city_city.city,city_district.district,city_position.*
        from city_message
        inner join city_position
            on (city_message.position_id = city_position.position_id)
        inner join city_coordinate
            on (city_message.coordinate_id = city_coordinate.coordinate_id)
        inner join city_province
            on (city_position.province_id = city_province.province_id)
        inner join city_city
            on (city_position.city_id = city_city.city_id)
        inner join city_district
            on (city_position.district_id = city_district.district_id)
        where city_message.result in ('内涝','冰雪','积水')
    </select>

    <delete id="deleteMessageByMessageId" parameterType="java.lang.Integer">
        delete from city_message
        where message_id = #{messageId,jdbcType=INTEGER}
    </delete>

    <update id="updateMessageByMessageId" parameterType="com.lyc.city.bean.Message">
        update city_message
        set message_description = #{messageDescription,jdbcType=VARCHAR},
          create_time = #{createTime,jdbcType=TIMESTAMP},
          result = #{result,jdbcType=VARCHAR}
        where message_id = #{messageId,jdbcType=INTEGER}
    </update>
</mapper>