<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>用户上传图片界面</title>

    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700|Roboto:600" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/responsive.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="top-bar">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-9 text-right">
                <ul>
                    <li><i class="fa fa-clock-o"></i><span> Mon - Fri: 10:00 - 17:00</span></li>
                    <li><i class="fa fa-phone"></i><span> 15807030606</span></li>
                    <li><i class="fa fa-envelope-o"></i><span>708901735@qq.com</span></li>
                    <div class="btn-group">
                        <button type="button" class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false" th:text="${session.user.getUserName()}">
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="/user/quitUser">注销</a></li>
                        </ul>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="navigation">
    <nav class="navbar navbar-navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation"
                        aria-expanded="false">
                    <span class="sr-only"></span>
                    <i class="fa fa-bars"></i>
                </button>
                <a href="/index" class="img-circle"><img style="height: 75px;" src="/static/images/logo.jpg" alt=""></a>
            </div>
            <div class="collapse navbar-collapse" id="navigation">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="">导航1</a></li>
                    <li><a href="/aboutUs">关于我们</a></li>
                    <li class="active"><a href="/manager/toLogin">后台管理</a></li>
                    <li class="btn-trial"><a href="/map">地图</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div class="container-fluid">
    <div id="leftNav" class="col-md-1">
        <ul class="nav nav-pills nav-stacked">
            <li class="active"><a>图片发布</a></li>
            <!-- 这里的active属性就是使得所在的li的背景色变为蓝色-->
            <li><a href="/user/toImage">查看图片消息</a></li>
            <li><a href="/user/toUploadImage">发布图片信息</a></li>
        </ul>
    </div>
    <div class="slider jumbotron col-md-11">
        <div class="col-md-6">
            <div class="slider-left">
                <h2>城市防涝检测系统</h2>
                <a href="">
                    <button class="btn btn-default">Get in touch</button>
                </a>
            </div>
        </div>
        <div class="col-md-5">
            <div class="slider-right" style="background-color: white;border-radius: 20px;">
                <form class="form-horizontal" action="/user/uploadImage" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">图片名称:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" placeholder="图片名称"
                                   id="imageName" name="imageName">
                        </div>
                        <p id="checkImageName"></p>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">图片描述:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" placeholder="图片描述"
                                   id="imageDescription" name="imageDescription">
                        </div>
                        <p id="checkImageDescription"></p>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">图片经度:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" placeholder="图片经度"
                                   id="latitude" name="latitude">
                        </div>
                        <p id="checkLatitude"></p>
                    </div>
                    <div class="form-group"><label class="col-sm-2 control-label">图片纬度:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" placeholder="图片纬度"
                                   id="longitude" name="longitude">
                        </div>
                        <p id="checkLongitude"></p>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">上传图片:</label>
                        <div class="col-sm-8">
                            <input type="file" id="file" class="form-control" name="file">
                        </div>
                    </div>
                    <div class="form-group" class="col-md-offset-2">
                        <select name="province" id="province" onclick="getCity()">
                            <option value="">----请选择省----</option>
                        </select>
                        <select name="city" id="city" onclick="getDistrict()">
                            <option value="">-----请选择城市-----</option>
                        </select>
                        <select name="district" id="district">
                            <option value="">-----请选择区/县-----</option>
                        </select>
                    </div>
                    <button class="btn btn-primary col-md-offset-5">上传</button>
                </form>
            </div>
        </div>
    </div>
</div>

<footer class="panel-footer" style="width: 100%; overflow: hidden;">
    <div class="container">
        <div class="row footer-top" style="text-align: center;">
            <h1>感谢使用本系统</h1>

        </div>
        <hr style="border: 1px  solid #000000;">
        <div class="row" style="text-align: center;">
            <div class="col-sm-3 col-md-3 col-lg-3">
                <a href="#" style=" color: gray;">若有bug，请联系管理员</a>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                <a href="#" style=" color: gray;">联系方式</a></li>
                <div class="ui inverted link list">
                    <div class="item">
                        <img src="../../static/images/wechat.jpg" class="ui rounded image" alt=""
                             style="width: 110px">
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                <a href="#" style=" color: gray;">广告招租咯！</a></li>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                <a href="#" style=" color: gray;">广告招租咯！</a></li>
            </div>
        </div>
    </div>
</footer>
</body>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/scripts.js"></script>
<script type="text/javascript">
    // 校验图片名称是否为空
    $("#checkImageName").change(function () {
        var checkImageName = this.value;
        if (checkImageName == "") {
            $("#checkImageName").html("请输入图片名称");
        }
    });
    // 校验图片描述是否为空
    $("#checkImageDescription").change(function () {
        var checkImageDescription = this.value;
        if (checkImageDescription == "") {
            $("#checkImageDescription").html("请输入图片描述");
        }
    });
    // 校验图片图片经度是否为空
    $("#checkLatitude").change(function () {
        var checkLatitude = this.value;
        if (checkLatitude == "") {
            $("#checkLatitude").html("请输入图片描述");
        }
    });
    // 校验图片图片纬度是否为空
    $("#checkLongitude").change(function () {
        var checkLongitude = this.value;
        if (checkLongitude == "") {
            $("#checkLongitude").html("请输入图片描述");
        }
    });
    
    function getAllProvince() {
        $.ajax({
            url: "http://localhost:8080/getAllProvince",
            type: "GET",
            dataType: "json",
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                if (data != null) {
                    $(data).each(function (i) {
                        $("#province").append(
                            '<option value="' + data[i].provinceId + '">' + data[i].province + '</option>'
                        );
                    });
                }
            },
            error: function () {
                alert("省份请求错误！");
            }
        });

    }

    window.onload = getAllProvince;

    //所在区域联动列
    function getCity() {
        $("#city").html('<option value="">----请选择城市----</option>');
        $.ajax({
            url: "http://localhost:8080/getCity?provinceId=" + $("#province").val(),
            type: "GET",
            dataType: "json",
            success: function (data) {
                if (data != null) {
                    $(data).each(function (i) {
                        $("#city").append(
                            '<option value="' + data[i].cityId + '">' + data[i].city + '</option>'
                        );
                    });
                }
            },
            error: function () {
                alert("请先选择省份！");
            }
        });
    }

    //市级菜单选择事件
    function getDistrict() {
        $("#district").html('<option value="">----请选择区域----</option>');
        $.ajax({
            url: "http://localhost:8080/getDistrict?cityId=" + $("#city").val(),
            type: "GET",
            dataType: "json",
            success: function (data) {
                if (data != null) {
                    $(data).each(function (i) {
                        $("#district").append(
                            '<option value="' + data[i].districtId + '">' + data[i].district + '</option>'
                        );
                    });
                }
            },
            error: function () {
                alert("请先选择城市！");
            }
        });
    }
</script>
</html>