/* Basic Structure */

.managerImg{
    width:128px;
    height:128px;
}


body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 2;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}
h1 {
    font-size: 32pt;
}
h2 {
    font-size: 28pt;
}
h3 {
    font-size: 22pt;
}
h4 {
    font-size: 16pt;
}
h5 {
    font-size: 14pt;
}
h6 {
    font-size: 12pt;
}
p {
    font-size: 11pt;
}
.btn {
    font-family: 'Raleway', sans-serif;
}
.input-group {
    width: 100%;
    padding: 10px 15px;
}
input, textarea {
    border: 0px !important;
    box-shadow: none !important;
    border-bottom: 1px solid #ddd !important;
}
.btn-default {
    color: #616161;
    background: #fff;
    border-radius: 30px;
    padding: 15px 70px;
    font-size:12pt;
    border: none;
    transition: .2s all ease-in-out;
}
.btn-default:hover {
    background:#616161;
    color: #fff;
}
/* Top Bar */

.top-bar {
    background: #0054a6;
    color: #fff;
}
.top-bar ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.top-bar ul li {
    display: inline-block;
    padding:10px 20px;
}
.top-bar ul.social li {
    padding: 10px;
}
.top-bar ul li:last-child {
    padding-right: 0px;
}
.top-bar ul li span {
    padding-left: 5px;
}
.top-bar a {
    color: #fff;
}
.tlinks{text-indent:-9999px;height:0;line-height:0;font-size:0;overflow:hidden;}
/* Navigation */
.navigation {
    padding: 30px 0px;
}
.navbar-navigation {
    margin: 0px;
    padding: 0px;
    border: none;
}
.navbar-brand {
    padding: 0px 0px 0px 15px;
}
.navbar-brand img {
    width:180px;
}
#navigation ul li a {
    color: #444444;
    background: none;
    padding: 8px 15px;
    transition: .2s all ease-in-out;
}

#navigation ul li a:hover {
    background: none;
    color:#48abfb;
}

/* Slider */
.slider {
    background-size: cover;
    background: url('../images/jumbotron-bg.jpg') no-repeat;
    position: relative;
    z-index: 9;
    padding: 200px 0px;
}
.slider:after {
    content: '';
    position: absolute;
    background: rgba(72,171,251,0.8);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -9;
}
.slider h2 {
    color: #fff;
    font-weight: 600;
    font-size: 30pt;
    margin-bottom: 30px;
}

form.join-now {
    background:#fff;
}
form.join-now h2 {
    color: #2087db;
    padding: 20px 5px;
    margin: 0px;
}

form.join-now small {
    color: #aaaaaa;
    width: 100%;
    display: block;
    margin: 10px 0px;
}
.btn-join-now {
    background: #fff;
    border-radius: 30px;
    font-size: 14pt;
    text-transform: uppercase;
    font-weight: 600;
    color: #48abfb;
    padding: 10px 60px;
    margin: 5px 0px 30px;
    box-shadow: 0px 0px 10px #ddd;
    transition: .2s all ease-in-out;
}
.btn-join-now:hover {
    background: #48abfb;
    color: #fff;
}
.slider-left {
    margin-top:60px;
}

/* Why Us */

.why-us {
    margin: 80px 0px;
}

.why-us h2 {
    color: #48abfb;
    margin-bottom: 80px;
}

.single-service.active,
.single-service:hover {
    box-shadow: 0px 0px 20px #ddd;
}

.single-service {
    padding: 90px 15px;
    position: relative;
    transition: .3s all ease-in-out;
}

.single-service h4 {
    color: #4e4e4e;
    text-transform: uppercase;
    margin: 15px 0px;
}

.single-service:after {
    transition: .3s all ease-in-out;
    content: '';
    position: absolute;
    bottom: -23px;
    background: url(../images/dot.png);
    width: 51px;
    height: 51px;
    left: 0;
	right: 0;
	margin-left:auto;
	margin-right:auto;
    opacity: 0;
}
.single-service.active:after, 
.single-service:hover::after {
    opacity: 1;
}

/* Testimonial */

.video-playback {
    border-radius: 10px;
}

.testimonial {
    background: url(../images/testimonial-bg.png);
    background-size: cover;
}

.testimonial h2 {
    color: #fff;
    margin: 90px 0px 150px;
}

.single-item {}

.single-item img.client-img {
    width: 120px;
    border-radius: 50%;
}

.testimonial-slider {
    margin-top: -60px;
    padding-bottom: 30px;
    box-shadow: 0px 30px 60px -40px #ddd;
}

p.client-text {
    margin: 40px 0px 30px;
}

p.client-name {
    margin: 0px 0px 30px;
}

#testimonial-slider > ol.carousel-indicators {
    bottom: -15px;
}

#testimonial-slider > ol.carousel-indicators li.active {
    background: #48abfb;
    border: none;
}

#testimonial-slider > ol.carousel-indicators li {
    background: #2d2d2d;
    border: none;
}

/* About Us */

.about-us {
    padding: 140px 0px 70px;
}
.about-us-content {
    padding: 60px 0px;
}
.about-us h2 {
    color: #48abfb;
    text-transform: uppercase;
    margin: 0px 0px 30px;
}
.about-us img {
    box-shadow: 0px 0px 60px -10px #ddd;
}

/* Pricing */

.pricing h2 {
    color: #48abfb;
    margin: 0px;
}
.pricing-box {
    padding: 100px 0px;
}

.single-price-block {}

.single-price-block h2.title {
    text-transform: uppercase;
    color: #4e4e4e;
}
.single-price-block.active,
.single-price-block:hover {
    box-shadow: 0px 0px 20px #ddd;
}

.single-price-block {
    padding: 30px 0px 0px;
    position: relative;
    transition: .3s all ease-in-out;
}

.single-price-block h4 {
    color: #4e4e4e;
    text-transform: uppercase;
    margin: 15px 0px;
}

.single-price-block:after {
    transition: .3s all ease-in-out;
    content: '';
    position: absolute;
    top: -23px;
    background: url(../images/dot.png);
    width: 51px;
    height: 51px;
    left: 0;
	right: 0;
	margin-left:auto;
	margin-right:auto;
    opacity: 0;
}
.single-price-block.active:after,
.single-price-block:hover::after {
    opacity: 1;
}


.single-price-block ul {
    list-style: none;
    margin: 0px;
    padding: 0px 70px 30px;
}

.single-price-block ul li {
    padding: 20px;
    border-bottom: 1px solid #e4e4e4;
}

.single-price-block ul li:last-child {
    border-bottom: none;
}

.single-price-block a {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -25px;
    margin-left: auto;
    margin-right: auto;
}

.single-price-block button.btn-default {
    background: #fff;
    border-radius: 30px;
    font-size: 14pt;
    text-transform: uppercase;
    font-weight: 600;
    color: #48abfb;
    padding: 10px 60px;
    box-shadow: 0px 0px 10px #ddd;
    transition: .2s all ease-in-out;
}

.single-price-block button.btn-default:hover {
    background: #48abfb;
    color: #fff;
}
.single-price-block .price {
    color: #48abfb;
    font-size: 40pt;
    font-weight: 600;
    line-height: 2;
    font-family: 'roboto', sans-serif;
}

.single-price-block .price small {
    font-size: 12pt;
    font-weight: 400;
    margin-left: -10px;
}

/* Subscribe Form */

.subscribe {
    background: #48abfb;
    padding: 50px 0px;
    box-shadow: 0px 30px 60px -40px #ddd;
}

form.subscribe-form .input-group {
    margin: 0px 20px !important;
    width:60%;
    padding: 0px !important;
    float: left;
}
form.subscribe-form input {
    border: none !important;
    border-radius: 35px !important;
    padding: 25px;
    font-size: 13pt;
}
form.subscribe-form button.btn {
    box-shadow: 0px 0px 35px -10px #000;
}

form.subscribe-form {
    width: 100%;
}

/* Contact Area */
.contact-area {
    padding: 100px 0px;
}

.panel-group {
    margin: 0px;
}

.panel-group .panel {
    border-radius: 0px;
    border: none;
    box-shadow: none;
    margin: 0px 0px 20px;
}

.panel-default>.panel-heading {
    background: #f4f4f4;
    border: 0px;
    border-radius: 0px !important;
    padding: 30px 20px 25px;
    transition: .2s all ease-in-out;
}

.panel-group .panel:last-child {
    margin-bottom: 0px;
}
.panel-default>.panel-heading.active {
    background: #fff;
    box-shadow: 0px 0px 30px -5px #ddd;
}

.collapse.in {
    background: #fff;
}
.panel-body {
    padding: 15px 0px 0px;
    margin: 0px 15px;
}
.contact-form-area {
    box-shadow: 0px 0px 30px -10px;
    position: relative;
    padding-bottom: 50px;
}
form.contact-form h2 {
    margin: 0;
    padding: 35px 0px 20px;
    color: #2087db;
}
.contact-form-button {
	position: absolute;
	left: 0;
	right: 0;
	bottom: -25px;
	text-align: center;
}
.btn-send {
    background: #fff;
    border-radius: 30px;
    font-size: 14pt;
    text-transform: uppercase;
    font-weight: 600;
    color: #48abfb;
    padding: 10px 60px;
    box-shadow: 0px 0px 10px #ddd;
    transition: .2s all ease-in-out;
}
.btn-send:hover {
    background: #48abfb;
    color: #fff;
}

/* Footer */

.footer {
    background: #1a1a1a;
    padding: 20px 0px;
}
.footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.footer ul li {
    display: inline-block;
    padding: 0px 10px;
}
.footer ul li a {
    color: #fff;
}
.footer ul li a:hover {
    color: #48abfb;
}
.footer p.copyright {
    color: #fff;
    font-size: 10pt;
    margin: 0px;
    padding: 10px;
}
.footer p.copyright a {
    color: #48abfb;
    text-decoration: none;
}
.footer p.copyright a:hover {
    border-bottom: 1px dotted #48abfb;
}

