<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nit.city.dao.PositionMapper">
  <resultMap id="BaseResultMap" type="com.nit.city.bean.Position">
    <id column="position_id" jdbcType="INTEGER" property="positionId" />
    <result column="province_id" jdbcType="INTEGER" property="provinceId" />
    <result column="city_id" jdbcType="INTEGER" property="cityId" />
    <result column="district_id" jdbcType="INTEGER" property="districtId" />
    <collection property="province" ofType="com.nit.city.bean.Province">
      <id column="province_id" property="provinceId"/>
      <result column="province" jdbcType="VARCHAR" property="province"/>
    </collection>
    <collection property="city" ofType="com.nit.city.bean.City">
      <id column="city_id" property="cityId"/>
      <result column="city" jdbcType="VARCHAR" property="city"/>
      <result column="province_id" jdbcType="INTEGER" property="provinceId"/>
    </collection>
    <collection property="district" ofType="com.nit.city.bean.District">
      <id column="district_id" property="districtId"/>
      <result column="district" jdbcType="VARCHAR" property="district"/>
      <result column="city_id" jdbcType="INTEGER" property="cityId"/>
    </collection>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    position_id, province_id, city_id, district_id
  </sql>
  <select id="selectOtherInfoByPositionId" resultMap="BaseResultMap">
    select
    city_position.*,city_province.*,city_city.*,city_district.*
    from city_position
    inner join city_province
    on city_position.province_id = city_province.province_id
    inner join city_city
    on city_position.city_id = city_city.city_id
    inner join city_district
    on city_position.district_id = city_district.district_id
    where city_position.position_id = #{positionId}
  </select>
  <select id="selectAllPosition" resultMap="BaseResultMap">
    select city_position.*,city_province.*,city_city.*,city_district.*
    from city_position
    inner join city_province
    on city_position.province_id = city_province.province_id
    inner join city_city
    on city_position.city_id = city_city.city_id
    inner join city_district
    on city_position.district_id = city_district.district_id
  </select>
  <select id="selectByAllInfo" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from city_position
    where province_id = #{provinceId}
    and city_id = #{cityId}
    and district_id = #{districtId}
  </select>
  <select id="selectByExample" parameterType="com.nit.city.bean.PositionExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from city_position
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from city_position
    where position_id = #{positionId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from city_position
    where position_id = #{positionId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.nit.city.bean.PositionExample">
    delete from city_position
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.nit.city.bean.Position">
    insert into city_position (position_id, province_id, city_id, 
      district_id)
    values (#{positionId,jdbcType=INTEGER}, #{provinceId,jdbcType=INTEGER}, #{cityId,jdbcType=INTEGER}, 
      #{districtId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.nit.city.bean.Position">
    insert into city_position
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="positionId != null">
        position_id,
      </if>
      <if test="provinceId != null">
        province_id,
      </if>
      <if test="cityId != null">
        city_id,
      </if>
      <if test="districtId != null">
        district_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="positionId != null">
        #{positionId,jdbcType=INTEGER},
      </if>
      <if test="provinceId != null">
        #{provinceId,jdbcType=INTEGER},
      </if>
      <if test="cityId != null">
        #{cityId,jdbcType=INTEGER},
      </if>
      <if test="districtId != null">
        #{districtId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.nit.city.bean.PositionExample" resultType="java.lang.Long">
    select count(*) from city_position
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update city_position
    <set>
      <if test="record.positionId != null">
        position_id = #{record.positionId,jdbcType=INTEGER},
      </if>
      <if test="record.provinceId != null">
        province_id = #{record.provinceId,jdbcType=INTEGER},
      </if>
      <if test="record.cityId != null">
        city_id = #{record.cityId,jdbcType=INTEGER},
      </if>
      <if test="record.districtId != null">
        district_id = #{record.districtId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update city_position
    set position_id = #{record.positionId,jdbcType=INTEGER},
      province_id = #{record.provinceId,jdbcType=INTEGER},
      city_id = #{record.cityId,jdbcType=INTEGER},
      district_id = #{record.districtId,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.nit.city.bean.Position">
    update city_position
    <set>
      <if test="provinceId != null">
        province_id = #{provinceId,jdbcType=INTEGER},
      </if>
      <if test="cityId != null">
        city_id = #{cityId,jdbcType=INTEGER},
      </if>
      <if test="districtId != null">
        district_id = #{districtId,jdbcType=INTEGER},
      </if>
    </set>
    where position_id = #{positionId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.nit.city.bean.Position">
    update city_position
    set province_id = #{provinceId,jdbcType=INTEGER},
      city_id = #{cityId,jdbcType=INTEGER},
      district_id = #{districtId,jdbcType=INTEGER}
    where position_id = #{positionId,jdbcType=INTEGER}
  </update>
</mapper>